html,body{
    height: 100%;
    width: 100%;
}

.row-wrapped-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-container {
    flex: 1 0 auto;
    width: 90%;
    margin: 0 auto;
}

.pointer-cursor {
    cursor: pointer;
}