.row-wrapped-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-container {
    width: 90%;
    margin:0 auto;
}

.pointer-cursor {
    cursor: pointer;
}

.fixed-footer {
    position: fixed;
    left:0;
    right:0;
    bottom:0;
}